<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="js/jquery.tubular.1.0.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
<div id="wrapper">
  <nav class="navbar navbar-inverse" role="navigation">
    <div id="logo">Tweetr</div>
    <ul class="nav navbar-nav">
    </ul>
  </nav>
  <%= yield %>
</div>
</body>
</html>
